body{
	background-image:url(images/12.jpg);
	font-family:italic;

}
.mainParth{
	width: 40%;
	border: 1px solid black;
	padding:10px;
}
form{
	text-align: left;
}

.message{
	margin-left:33px;
}
table{
	width:100%;
	border: 1px solid black; 
	text-align:center;
}
th{
	text-align:left;
}
h1{
	font-size:20px;
}
h2{
	font-size:20px;
}
#avatar{	
    margin: 7px 7px 7px 0px; 
	width:300px;
}
.forma{
	margin-left:14px;
}
th, td{
	border: 1px solid black;
}
.img{
	width:45px;
	height:45px;
}